<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guitar Practice Tracker</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}">
    <script src="https://kit.fontawesome.com/08ebfe01f5.js" crossorigin="anonymous"></script>

    <script>

        "use strict"

        var AudioContext = window.AudioContext || window.webkitAudioContext; // cross browser    
        var audio_context
        var oscillator
        var gain

        var my_play_button
        var my_bpm_input_field
        var my_bpm_input_range
        var my_volume_input = 5

        var my_tap_results

        var char_to_increment = {}

        var prev_tap_time = 0
        var number_of_taps = 0
        var accumulated_tap_time = 0

        var beats = "1"
        var current_beat = 1

        var running = false

        function my_onload() {
            my_play_button = document.getElementById("my_play_button")
            my_bpm_input_field = document.getElementById("my_bpm_input_field")
            my_bpm_input_range = document.getElementById("my_bpm_input_range")
        }

        function play_or_stop() {

            // can't do this in onload because browser wants an explicit user gesture
            if (audio_context == null) {
                audio_context = new AudioContext()

                // There's a "node graph"  oscillator->gain->destination
                oscillator = audio_context.createOscillator()
                oscillator.type = "sine"
                oscillator.frequency.value = 1000
                gain = audio_context.createGain()
                gain.gain.value = 0
                oscillator.connect(gain)
                gain.connect(audio_context.destination)
                oscillator.start()
            }

            if (my_play_button.innerText == "Start") {
                play()
                // toggle text
                my_play_button.innerText = "Stop"
                my_play_button.style.backgroundColor = "red"
            } else {
                stop_playing()
                // toggle text
                my_play_button.innerText = "Start"
                my_play_button.style.backgroundColor = "lightgreen"
            }
        }

        function stop_start() {
            current_beat = 1
            if (running) {
                stop_playing()
                play()
            }
        }

        function play() {

            running = true

            var volume

            var now = audio_context.currentTime

            // schedule click 1 a little in the future so that click 2 doesn't come right after the late click 1
            now += .5

            // Schedule 15 minutes of iterations
            // This seem to go bad if I schedule TOO many (race condition?)
            // I couldn't figure out a way to do this where the metronome would never run out. 
            var iterations = 15 * my_bpm_input_field.value

            // how much time from one click to the next
            var interval_in_seconds = 60.0 / my_bpm_input_field.value

            for (var i = 0; i < iterations; i++) {
                // calc how loud, calc if this beat should be the louder "accented" beat
                volume = 0.5
                schedule_one_click(now + (i * interval_in_seconds), volume)
            }

        }

        function stop_playing() {
            running = false
            var time = audio_context.currentTime
            gain.gain.cancelScheduledValues(time)
            gain.gain.setValueAtTime(0, time)
        }

        function schedule_one_click(time, volume) {
            gain.gain.cancelScheduledValues(time)
            gain.gain.setValueAtTime(0, time)
            gain.gain.linearRampToValueAtTime(volume, time + .001);
            gain.gain.linearRampToValueAtTime(0, time + .001 + .01);
        }



        function change_frequency(el) {
            oscillator.frequency.value = el.value
            stop_start()
        }

        function change_bpm() {
            stop_start()
        }

        function change_bpm_field() {
            document.getElementById("my_bpm_input_range").value = document.getElementById("my_bpm_input_field").value;
            document.getElementById("input_bpm").value  = document.getElementById("my_bpm_input_field").value;
            stop_start()
        }

        function change_bpm_range() {
            document.getElementById("my_bpm_input_field").value = document.getElementById("my_bpm_input_range").value;
            document.getElementById("input_bpm").value  = document.getElementById("my_bpm_input_range").value;
            stop_start()
        }

        function change_beats(el) {
            beats = el.value
            stop_start()
        }

        function increment_bpm(increment) {
            // put focus back to play/stop otherwise spacebar affects last pressed button
            //my_play_button.focus()
            my_bpm_input_field.value = parseInt(my_bpm_input_field.value) + increment
            change_bpm_field()
            // so that the spacebar keeps working
            my_play_button.focus()
        }


    </script>
</head>

<body onload="my_onload()" onkeydown="handle_key(event)">
    <div style="margin-top: 50px;" class="ui container">
        <span class="app_header">Guitar Practice</span>
        <a class="fa-solid fa-house fa-2xl btn_home" href="/tasks"></a>
        <br>
        <span class="task_header"> Task: {{ task.title }} ({{ task.target_bpm }} BPM)</span>
        <br>

        <div >
            <div><button onclick="play_or_stop()" id="my_play_button">Start</button></div>

            <div>
                <input id="my_bpm_input_field" type="number" inputmode="decimal" onchange="change_bpm_field()"  min="40" max="240" step="1" value="{{last_session.bpm}}" />
                <input id="my_bpm_input_range" type="range" onchange="change_bpm_range()" min="40" max="240" step="1" value="{{last_session.bpm}}" />
                <button class="plus_minus" onclick="increment_bpm(1)">+</button>
                <button class="plus_minus" onclick="increment_bpm(-1)">-</button>
            </div>
            
        
        </div>




        <form class="ui form" action="/addsession" method="post">
            <div class="field">
                <input class="input_date" name="date" type="date"  placeholder="Date" value = {{today}} required> 
                <input class="input_bpm" id ="input_bpm" name="bpm" type="number" placeholder="BPM" inputmode="decimal" required>
                <input type="hidden" name="task_id" value="{{task.id}}">
                <button class="fa-solid fa-plus btn_header_add" type="submit"></button>
            </div>
            
        </form>




        <hr>
        <img src= {{url_for('static', filename=url)}}  class="sessions_plot">
        <hr>

        <span class="session_list">
            {% for session in session_list %}
                <span class="task">
                <a class="session_list_name">{{ session.date }}   |  ({{ session.bpm }} BPM)</a>
                <form  style='display: inline;'class="ui form" action="/deletesession" method="post">
                    <span class="field">
                        <input type="hidden" name="task_id" value="{{task.id}}">
                        <input type="hidden" name="session_id" value="{{session.id}}">
                        <button class="fa-solid fa-trash fa-2xs btn_item_delete" type="submit"></button>
                    </span>
                </form>
            {% endfor %}
                </span>
        </span>
        
    </div>



    
    
</body>

</html>