<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>Guitar Practice Tracker</title>
    <script src="https://kit.fontawesome.com/08ebfe01f5.js" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="../static/css/main.css" />

    <script src="../static/scripts/metronome.js"></script> 
    <script src="../static/scripts/timer.js"></script>
    <script src="../static/scripts/NoSleep.js"></script>

    <script>
        function sidebar_hide_show() {
            if (sidebar.classList.contains('isOpened')) {
                sidebar.classList.remove('isOpened');
                sidebarTrigger.classList.remove("fa-circle-chevron-left");
                sidebarTrigger.classList.add("fa-circle-chevron-right");
            } else {
                sidebar.classList.add('isOpened');
                sidebarTrigger.classList.remove("fa-circle-chevron-right");
                sidebarTrigger.classList.add("fa-circle-chevron-left");
            }        
        }
    </script>
    <script>
        document.ondblclick = function(e) {
            e.preventDefault();
        }
    </script>


</head>

<body onload="my_onload()" style="background-color: rgb(245, 245, 245);height: 100%;
display: flex;
flex-direction: column;
margin: 0;
touch-action: none;">


    <div class="r_flex_container" style="display:flex;
    flex-flow: column nowrap;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;">
        <div class="r_flex_fixed_child">
            <div class="columns is-mobile is-vcentered"
                style="padding-top: 1em; background-color: white; padding-bottom: 3em;">
                <div class="column is-2 has-text-left">
                    <form class="buttons" action="/task_list" method="get">
                        <button class="button is-normal fa-solid fa-chevron-left is-centered"
                            style="border: none; background: none; color: black; margin: 0;position: relative; bottom: 5px;"></button>
                            
                    </form>
                </div>
                <div class="column is-8 is-vcentered">
                    <div class="text is-size-6 has-text-centered has-text-weight-semibold"> {{ task.title }} ({{
                        task.target_bpm }} BPM)</div>
                </div>
                <div class="column is-2 is-right">
                    <!---<form class="buttons is-right" action="/logout" method="get">
    <button class="button is-block is-light is-normal ">Logout</button>
</form>--->
                </div>
            </div>



            <div>
                <form class="columns is-mobile is-vcentered is-gapless is-centered" action="/addsession" method="post"
                    style="margin-left: 3vw;
            margin-right: 3vw; 
            margin-top: -3.5em;
            margin-bottom: 0.7em;
            background-color: white; 
            padding: 0.8em;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)">
                    <div class="column is-narrow" style="margin: 5px;">
                        <input class="input is-small is-rounded" name="date" type="date" placeholder="Date" value={{today}}
                            style="width: 10em; position: relative; z-index: 1;" required>
                    </div>
                    <div class="column is-narrow" style="margin: 5px;">
                        <input class="input is-small is-rounded" id="input_bpm" name="bpm" type="number" placeholder="BPM"
                            inputmode="decimal" value="{{last_session.bpm}}" style="width: 8em; position: relative; right: 40px; padding-left: 40px;"
                            required>
                    </div>
                    <div class="column is-narrow" style="margin: 0px;">
                        <input type="hidden" name="task_id" value="{{task.id}}">
                        <button class="button is-small is-success fa-solid fa-plus is-rounded" type="submit"
                            style="position: relative; right: 25px; width: 4em;"></button>
                    </div>
                </form>
            </div>





            <div>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.js"></script>
                <script
                    src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
                <div style="height: 25vh; margin-left: 5vw; margin-right: 5vw; background-color: white; padding: 0.5em; margin-bottom: 0.4em;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)">
                    <canvas id="chartJSContainer" style="width: 100%;"></canvas>
                </div>

                <script>        
                    var options = {
                        type: 'line',
                        data: {
                            datasets: [
                                {
                                    borderColor: 'blue',
                                    tension: 0.2,
                                    data: [
                                    {% for item in data %}
                                        { x: new Date({{item[0][0]}}, {{item[0][1]}}, {{item[0][2]}}), y: {{item[1]}} },
                                    {% endfor %}
                                    ]
                                },{
                                    borderColor: 'green',
                                    borderDash: [10,5],
                                    data: [
                                    {% for item in data %}
                                        { x: new Date({{item[0][0]}}, {{item[0][1]}}, {{item[0][2]}}), y: {{ task.target_bpm }} },
                                    {% endfor %}
                                    ]}]},
                        options: {
                            maintainAspectRatio: false,
                            scales: {
                                xAxes: {
                                    type: 'time',
                                    time: {
                            unit: 'day',          
                            displayFormats: {
                                day: 'dd MMM' 
                            }}},
                                yAxes: {
                                    
                                    suggestedMax: {{ task.target_bpm }} * 1.05              
                                }},
                            plugins: {
                                legend: {
                                    display: false,          
                                }}}}
                    var ctx = document.getElementById('chartJSContainer').getContext('2d');
                    Chart.defaults.font.size = 8;
                    new Chart(ctx, options);
                </script>
            </div>



        </div>
        <div class="r_flex_expand_child" style="flex:1;
        overflow-y:auto;  margin: 1em; display: block;">
            <table class="table is-hoverable is-fullwidth is-size-7" >
                <thead style="top: 0;
                    z-index: 2;
                    position: sticky;
                    background-color: white;
                    font-size: 10px;
                    ">
                    <tr>
                        <th>Date</th>
                        <th>BPM</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody style="font-size: 10px;">
                    {% for session in session_list %}
                    <tr style="border-bottom-style: hidden; line-height:10px;">
                        <td style="width: 30vw;vertical-align: middle">{{ session.date }}</td>
                        <td style="width: 75vw;vertical-align: middle"><span class="task_list_name"
                                style="width: 6em; display:inline-block;">{{ session.bpm }} BPM</span>
                            <meter id="progressbar" value="{{session.bpm}}" min="0" max="{{task.target_bpm}}"
                                style="width: 30vw;"></meter>
                        </td>
                        <td>
                            <form style='display: inline;vertical-align: middle' class="ui form"
                                action="/deletesession" method="post"> 
                                <span class="field">
                                    <input type="hidden" name="task_id" value="{{task.id}}">
                                    <input type="hidden" name="session_id" value="{{session.id}}">
                                    <button
                                        class="button is-danger is-small has-background-success fa-solid fa-trash is-centered"
                                        type="submit"
                                        style="margin:auto; display:inline-block;scale: 90%;">
                                    </button>
                                </span>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>               
        </div>



        <div id="sidebar" class="sidebar" style="position: relative; bottom: 100px;    
        background-color: white;
        z-index: 3;
        position: absolute;
        left: -280px; 
        bottom: 20px;
        height: 90px;
        width: 330px;
        margin-right: 2em;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: transform 0.5s;">
            <div style="margin: 2px;display: flex; align-items: center;">
                    <button onclick="play_or_stop()" id="my_play_button"
                        class="button is-light is-small is-rounded" style="width: 60px; margin: 5px;">Start</button>
                    <button class="button is-small fa-solid fa-minus is-rounded" onclick="increment_bpm(-1)"
                        style="width: 20px; margin: 5px;"></button>
                    <input id="my_bpm_input_range" type="range" onchange="change_bpm_range()" min="40" max="200"
                        step="1" value="{{last_session.bpm}}"  style="width: 120px; margin: 5px;"/>
                    <button class="button is-small fa-solid fa-plus is-rounded" onclick="increment_bpm(1)" 
                        style="width: 20px; margin: 5px;"></button>

                
            </div> 
            <div style="margin: 2px; display: flex; align-items: center;">
                <input class="input is-small has-text-centered" id="minutes" value=4 type="number" inputmode="decimal" style="width: 55px; margin: 5px; margin-left: 10px;"></input>
                <meter id="timer_progressbar" min=0 style="width: 135px;height: 20px; margin: 5px;-webkit-appearance: none; -moz-appearance: none; appearance: none;"></meter>
                <p id="time" style="width: 70px; position: relative; right: 100px;"></p>
                <button class="button is-light is-small is-rounded fa-solid fa-play" id="timer_start_pause_button" onclick="start_pause_timer()" style="width: 20px; margin: 5px; position: relative; right: 62px"></button>
                <button class="button is-light is-small is-rounded fa-solid fa-rotate-left" onclick="reset_timer()"  style="width: 20px; margin: 5px; position: relative; right: 64px""></button>
                
            </div> 
            <button id="sidebar__trigger" onclick="sidebar_hide_show()" class="button is-white fa-solid fa-circle-chevron-right sidebartrigger" style="position: relative; left: 285px;bottom: 80px; height: 85px;"></button>
        </div>

    </div>







    <script>

        var toggleEl
        var noSleep 

        noSleep = new NoSleep();
  
        toggleEl = document.querySelector("#sidebar__trigger");
        toggleEl.addEventListener('click', function() {
            noSleep.enable(); // keep the screen on!
        }, false);
      </script>
</body>

</html>